@mixin vendor-prefixes ($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
    #{$property}: $value;
  }
}

@mixin position-vertically ($alignment: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: $alignment;
}