$white: #fff;
$body-background: whitesmoke;
$basic-blue: #1b68b3;
$light-blue: #ececec;
$grey: grey;
$grey-shadow: rgba(0, 0, 0, 0.2);
$light-grey: #ececec;
$black: #000;

$save-btn: #1b68b3;
$cancel-btn: #f7f7f7;