.button{
  float: right;
  margin-left: 4px;
  &__save {
    background: $save-btn;
  }
  &__cancel {
    background: $cancel-btn;
    color: $black;
    border: 0;
  }
  &--disabled {
    cursor: not-allowed;
  }
  &--hidden {
    visibility: hidden;
  }
  &--visible {
    visibility: visible;
  }
}