.list {
  height: 550px;
  overflow-y: scroll;
}
.list-item {
  border: 0px;
  &:hover {
    background: grey;
  }
  &:focus, &:active {
    background: $basic-blue;
    .list-item__text--primary, .list-item__text--secondary {
      @include vendor-prefixes(transition, all 0.2s ease-in, (moz, o, webkit));
      color: $white;
    }
  }
}
.list-item__text {
  text-align: left;
  @include position-vertically(center);
  &--primary {
    font-weight: bold;
    margin-bottom: 0;
  }
  &--secondary {
    color: $grey;
    margin-bottom: 0;
  }
}